html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: none;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}


$dark-navy-blue: #000010;
$brownish-grey: #5d5d5d;
$warm-grey: #9b9b9b;
$white-two: #efefef;
$white-four: #fcfcfc;
$bluey-grey: #a7b4c2;
$cool-grey: #b2b2b7;
$duck-egg-blue: #e4ecf9;
$pale-grey: #f3f6fb;
$pale-grey-two: #f6f7f9;
$water-blue: #1a90cc;
$water-blue-two: #1a98d8;
$duck-egg-blue-two: #bce0f4;
$duck-egg-blue-three: #c8e6f5;
$emerald: #008c51;
$dark-mint: #55cd9a;
$dark-mint-10: rgba(85, 205, 154, 0.1);
$white: #fff;
$white-dark: #dcdcdc;
$tomato: #ec2f28;
$light-salmon: #ffa19d;
$very-light-pink: #fdedec;
$tangerine: #fb9a12;
$dark-navy-blue-82: rgba(0, 0, 16, 0.8);
$deep-aqua: #0b7189;
$white-three: #f9f9f9;

$fontPath: '../fonts/';
$imgPath: '../img/';

$linear160: ' 160ms linear 10ms';
$linear140: ' 140ms linear';
$easeOut210: ' 210ms ease-out';

@font-face {
  font-family: "enzyme";
  src:url($fontPath+"enzyme.eot");
  src:url($fontPath+"enzyme.eot?#iefix") format("embedded-opentype"),
    url($fontPath+"enzyme.woff") format("woff"),
    url($fontPath+"enzyme.ttf") format("truetype"),
    url($fontPath+"enzyme.svg#enzyme") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "enzyme" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "enzyme" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-add:before {
  content: "\61";
}
.icon-arrow-down:before {
  content: "\62";
}
.icon-arrow-left:before {
  content: "\63";
}
.icon-arrow-right:before {
  content: "\64";
}
.icon-arrow-up:before {
  content: "\65";
}
.icon-attach:before {
  content: "\66";
}
.icon-cal:before {
  content: "\67";
}
.icon-close:before {
  content: "\68";
}
.icon-commen:before {
  content: "\69";
}
.icon-delete:before {
  content: "\6a";
}
.icon-drop:before {
  content: "\6b";
}
.icon-edit:before {
  content: "\6c";
}
.icon-export:before {
  content: "\6d";
}
.icon-file:before {
  content: "\6e";
}
.icon-lock:before {
  content: "\6f";
}
.icon-minus:before {
  content: "\70";
}
.icon-notification:before {
  content: "\71";
}
.icon-plus:before {
  content: "\72";
}
.icon-refresh:before {
  content: "\73";
}
.icon-search:before {
  content: "\74";
}
.icon-link:before {
  content: "\75";
}


// Base style
// =================================
body {
	font-family: "proxima-nova", sans-serif;
	font-weight: 400;
	height: 100%;
	background: #F3F6FB;
}
a { text-decoration: none; }
a:visited {
	color: inherit;
}
ol, ul {
	list-style: none;
}
.clear-ul {
	margin: 0;
	bottom: 0;
	list-style: none;
}
img {
	vertical-align: bottom;
}
h1,h2,h3,h4,h5,h6 {
	font-family: "proxima-nova", sans-serif;
	font-weight: normal;
}

input,
textarea {
	border: none;

	&:focus {
		outline: none;
	}
}
