// Clearfix
// =================================
.clearfix,
.container,
.row {

  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

// Vertical Align
// =================================
.vertical-align {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	margin: auto;
	transform: translateY(-50%);
}

// Grid
// =================================
.container {
	width: 1320px;
	margin: 0 auto;
}
.span {
	float: left;
	margin: 0 15px;
	margin-bottom: 10px;
}
.span-1 {
	width: 80px;
}
.span-2 {
	width: 190px;
}
.span-2-5 {
	width: 250px;
}
.span-3 {
	width: 300px;
}
.span-4 {
	width: 410px;
}
.span-5 {
	width: 520px;
}
.span-6 {
	width: 630px;
}
.span-7 {
	width: 740px;
}
.span-8 {
	width: 850px;
}
.span-9 {
	width: 960px;
}
.span-9-5 {
	width: 1010px;
}
.span-10 {
	width: 1070px;
}
.span-11 {
	width: 1180px;
}
.span-12 {
	width: 1290px;
}
.span-one-fifth {
	width: 234px;
}
.one-third {
	width: 31.3333%;
  float: left;

  &.middle {
    margin: 0 3%;
  }
}



.first-half {
  width: 48%;
  float: left;
}
.second-half {
  width: 48%;
  float: right;
  // overflow: hidden;;
}

// Animations
// =================================
.anm {
	visibility: hidden;
	opacity: 0;
	transition: all 200ms ease-out 10ms;

	&.active {
		visibility: visible;
		opacity: 1;
    z-index: 2;
	}
}
.anm-1 {
	transform-origin: top center;
	transform: rotateX(-90deg);

	&.active {
		transform: rotateX(0);
	}
}

.anm-2 {
	margin-top: 30px !important;
	transition: all 170ms ease-out 10ms;

	&.active {
		margin-top: 0 !important;
	}
}

.anm-3 {
	transform: scale(.85);
	transition: all 180ms ease-out 20ms;

	&.anm-fast {
		transition: all 150ms ease-out 10ms;
	}
	&.active {
		transform: scale(1);
	}
}

.anm-4 {
  transform: rotateY(-30deg);
  transform-origin: center center;

  &.active {
		transform: rotateY(0);
	}
}

// Forms
// =================================
input {

  &.default {
    width: 100%;
    height: 38px;
    padding: 0 10px;
    font-weight: 500;
    font-size: 14px;
    color: $cool-grey;
    line-height: 40px;
    border: 1px solid $white-dark;
    border-radius: 4px;
  }
}
textarea {
  font-family: "proxima-nova", sans-serif;

  &.default {
    display: block;
    width: 100%;
    height: 122px;
    padding: 15px;
    float: none;
    margin-bottom: 20px;
    font-size: 14px;
    color: $dark-navy-blue-82;
    border: 1px solid $duck-egg-blue;
    resize: none;
    box-sizing: border-box;
    border-radius: 4px;
  }

}
.input-msg {
  margin-top: 8px;
  font-size: 13px;
  color: $water-blue-two;
}

.anm-input {
	height: 54px;
	position: relative;
	margin-bottom: 10px;
	border: 1px solid $white-dark;
	padding: 0 20px;
	border-radius: 4px;

	label {
		position: absolute;
		margin-bottom: 0;
		font-size: 16px;
		top: 19px;
		color: $brownish-grey;
		user-select: none;
		transition: all + $linear140;

		&.active {
			top: 10px;
			font-size: 12px;
			color: $brownish-grey;
		}
		&:hover {
			cursor: text;
		}
	}
	input {
		width: 300px;
		height: 22px;
		font-size: 16px;
		line-height: 26px;
		color: $dark-navy-blue;
		margin-top: 20px;

		&.pass {
			&::-webkit-input-placeholder {
		    color: $cool-grey;
				font-size: 14px;
			}
			:-moz-placeholder {
				color: $cool-grey;
				font-size: 14px;
			}
			::-moz-placeholder {
				color: $cool-grey;
				font-size: 14px;
			}
			:-ms-input-placeholder {
				color: $cool-grey;
				font-size: 14px;
			}
		}
	}
}

.title-input {
  padding: 14px 10px 5px 10px;
  border: 1px solid $white-dark;
  border-radius: 4px;

  label {
    display: block;
    margin-bottom: 2px;
    padding-left: 10px;
		font-weight: 700;
		font-size: 17.5px;
		color: $dark-navy-blue;
  }
  input {
    width: 90%;
    height: 36px;
    margin-left: 10px;
    font-weight: 700;
		font-size: 17.5px;
    color: #999;
  }
  .tag {
    margin: 5px 4px 0 0;
  }

  &.tags {
    padding-bottom: 13px;

    .tag {
      margin-top: 8px;

      &:last-of-type {
        margin-right: 0;
      }
    }
    .doc-tags {
      margin-top: 6px;
    }
  }
}

.classic-input {
  margin-bottom: 20px;

  &:after {
    content: '';
    display: block;
    clear: both;
  }
  label {
    display: block;
    margin-bottom: 8px;
    font-size: 14px;
    color: $brownish-grey;
  }
  textarea,
  input {
    width: 100%;
    height: 90px;
    padding: 10px;
    font: 22px "proxima-nova", sans-serif;
    color: $dark-navy-blue;
    border: 1px solid $white-dark;
    border-radius: 3px;
    resize: none;
    box-sizing: border-box;
  }

  &.mini {
    input {
      height: 42px;
      font-size: 14px;
    }
  }


  .btn-option {
    padding-left: 16px;
    font-weight: 300;

    .icon {
      right: 18px !important;
      color: #f00;
    }
  }
  .opts-list {
    top: 62px;
  }
  .tiny-dropdown {

    &:after {
      top: -4px;
      right: 19px;
    }
  }
}

.btn-option-multi {
  margin-bottom: 14px !important;
}

.second-half {

  .btn-option {
    font-weight: normal;
  }
  .opts-list {
    top: 39px;
  }
}


// SVG Icons
// =================================
.icon-svg {
	width: 25px;
	height: 25px;
	float: left;

	&.change-2 {
		background: url('../imgs/change_folder.svg') no-repeat;
		background-size: contain;
	}
	&.checkout {
		background: url('../imgs/checkout.svg') no-repeat;
		background-size: contain;
	}
	&.download {
		background: url('../imgs/download.svg') no-repeat;
		background-size: contain;
	}
	&.obsolete {
		background: url('../imgs/obsolete.svg') no-repeat;
		background-size: contain;
	}
	&.upload {
		background: url('../imgs/upload.svg') no-repeat;
		background-size: contain;
	}
	&.icon-svg-round {
		width: 22px;
		height: 22px;
		border-radius: 50%;
		background-size: 65%;
		background-position: center center;
		box-shadow: 0 1px 5px #ccc;
	}
}

// Buttons
// =================================
.btn {
	display: block;
	height: 40px;
	padding: 0 22px;
	font-weight: 500;
	font-size: 14px;
	color: $white !important;
	line-height: 40px;
	background: $deep-aqua;
	border: 1px solid $deep-aqua;
	border-radius: 3px;
	transition: all + $linear140;

  .icon {
    margin-right: 5px;
    vertical-align: -2px;
  }
  &.fluid {
    width: 100%;
  }
	&:hover {
		cursor: pointer;
		background: $dark-navy-blue-82;
		border-color: $dark-navy-blue-82;
	}
	&:focus {
		outline: none;
	}
	&.btn-white {
		color: $brownish-grey !important;
		background: $white;
		border: 1px solid $white-dark;
	}
  &.btn-white-shadow {
    height: 50px;
    font-size: 16px;
		color: $dark-navy-blue !important;
		background: $white;
    border: 1px solid $white-two;
		box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	}
	&.btn-green {
		background: $emerald;
		border: 1px solid $white-dark;

    &.border {
      color: $emerald !important;
      background: $white;
      border-color: $emerald;
    }
	}
  &.btn-bluey-grey {
    background: $bluey-grey;
    border: 1px solid $bluey-grey;
  }
  &.btn-add {
    height: 25px;
    padding: 0 12px;
    font-size: 12px;
    line-height: 26px;
    text-transform: uppercase;
    letter-spacing: 1px;
    background: $cool-grey;
    border-radius: 3px;
    border: none;

    .icon {
      font-size: 10px;
      vertical-align: -1px;
    }
  }
  &:hover {
    opacity: .8;
  }
}

// Button Icon
.btn-icon {
	display: block;
	float: left;
	padding: 0 14px 0 9px;
	height: 36px;
	font-weight: 700;
	font-size: 14px;
	color: $dark-navy-blue;
	line-height: 38px;
	border: 1px solid $white-dark;
	border-radius: 3px;
	transition: background + $linear140;

	.icon-svg {
		margin: 8px 6px 0 0;
	}
	.icon {
		margin-left: 5px;
		font-size: 8px;
		color: $cool-grey;
	}
  &.blue {
    color: $water-blue-two;
    border-color: $water-blue-two;
  }
	&:hover {
		background: #F9F9F9;
	}
}

// Wrapper
// =================================
.wrapper {
  min-height: 100vh;
  // height: 70vh;
  position: relative;
  z-index: 2;
  // background: #000;
  // overflow: hidden;

	&.hide {
		width: 100%;
		height: 100%;
		position: absolute;
    overflow: hidden;
	}
}

// Page header
// =================================
.page-header {
	width: 100%;
	height: 75px;
	position: relative;
	z-index: 4;
	background: $water-blue-two;
}

// Company Logo
.company-logo {
	width: 48px;
	height: 43px;
	margin: 17px 18px 0 27px;
  background: url('../imgs/logo.svg');
  background-size: contain;
  background-repeat: no-repeat;
}

// Current Product
.ph-zone {
	min-width: 200px;
	height: 100%;
	position: relative;
	perspective: 1000px;
}
.ph-zone-link {
	display: block;
	height: 100%;
	position: relative;
	padding: 21px 22px 22px 18px;
	transition: background + $linear160;
	box-sizing: border-box;

	span {
		display: block;
		margin-bottom: 2px;
		font-size: 10px;
		color: $duck-egg-blue-two !important;
		text-transform: uppercase;
		letter-spacing: 1px;
	}
	.icon {
		margin-left: 5px;
		font-size: 8px;
		color: $white;
		vertical-align: 2px;
	}
	&:hover,
	&.active {
		background: $water-blue;
	}
}
.ph-zone-txt {
	font-size: 18px;
	color: $white;

	&.user-name {
		margin: 0 25px 0 18px;
		line-height: 36px;
		text-transform: uppercase;
	}
}
.ph-zone-img {
	width: 45px;
	height: 45px;
	margin: -5px 0 0 0;

  &.circle {
    border-radius: 50%;
  }
  &.cube {
    width: 33px;
    height: 33px;
    padding: 5px;
    background: $white;
    border-radius: 3px;
  }
}

/// Main nav
.main-nav {
	float: right;

	li {
		float: left;
	}
	a {
		display: block;
		height: 75px;
		padding: 0 15px;
		font-size: 14px;
		letter-spacing: 1px;
		color: $white;
		line-height: 78px;
		opacity: .7;
		text-transform: uppercase;
		transition: opacity + $linear140;

		&:hover,
		&.active {
			opacity: 1;
		}
	}
}

// Overlay
// =================================
.overlay,
.overlay-2 {
	width: 100%;
	height: 100%;
	visibility: hidden;
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	background: $dark-navy-blue-82;
	z-index: 1;
  overflow: hidden;
	transition: visibility + $easeOut210, opacity + $easeOut210;

	&.active {
		visibility: visible;
		opacity: 1;
	}
  &.front {
    z-index: 11;
  }
}
.overlay-2 {
  background: rgba(7, 7, 7, 0.6);
  z-index: 5;
}
.popup-body {
	width: 746px;
	position: absolute;
	left: 0;
	right: 0;
	margin: 150px auto 0;
	visibility: hidden;
	opacity: 0;
  overflow: hidden;
	background: $white;
	border-radius: 4px;
	transform: scale(.8);
	transition: all + $easeOut210;

  &.large {
    width: 988px;
  }
  &.passive {
    width: 100%;
    margin-top: 0;
    position: relative;

    .inner-space {
      width: auto;
      padding: 0 25px;
    }
    .popup-header {
      margin-bottom: 4px;
      border-bottom: none;

      h3 {
        text-transform: none;
      }
    }
    .popup-footer {
      border-bottom: 1px solid $white-dark;
      border-radius: 0 0 4px 4px;
    }
    .row {
      margin-bottom: 20px;
    }
    .doc-tags{
      width: 20%;
    }
    .tag {

      &:first-of-type{
        margin-left: 11px;
      }
    }
  }
	&.active {
		visibility: visible;
		opacity: 1;
		transform: scale(1);
    z-index: 2;
	}
  .inner-space {
    width: 90%;
		margin: 0 auto;

    .classic-input {
      &:first-child {
        margin-top: -5px;
      }
      &:last-child {
        margin-bottom: 25px;
      }
    }
  }
	.zone {
		padding: 10px 0 20px 20px;

		p {
			font-size: 16px;
			color: $dark-navy-blue;

			&.mini {
				margin-bottom: 2px;
				font-size: 14px;
				color: $brownish-grey;
			}
		}
	}
}




.popup-header {
	position: relative;
	margin-bottom: 30px;
	height: 62px;
	border-bottom: 1px solid $white-dark;

	h3 {
		padding-left: 25px;
		font-weight: 700;
		font-size: 17.5px;
		line-height: 66px;
		color: $dark-navy-blue;
	}

  .notf-txt {
    margin: 12px 0 0 20px;
    font-weight: 500;
  }
	.icon {
		position: absolute;
		top: 20px;
		right: 20px;
		font-size: 20px;
		color: $cool-grey;
    transition: opacity + $linear140;

		&:hover {
			cursor: pointer;
			opacity: .7;
		}
	}
}
.popup-footer {
	height: 70px;
	background: $pale-grey-two;

	.btn {
		margin-top: 16px;
		line-height: 38px;
	}
}

.txt-file {
  margin: 12px 10px 0 0;
  font-weight: 700;
  font-size: 14px;
  color: $water-blue-two;

  i {
    font-weight: 500;
    font-style: normal;
    color: #999;
  }
}

// Cards
// =================================
.card {
	display: block;
	width: 208px;
	// overflow: hidden;
	font-size: 14px;
	border: 1px solid $white-dark;
	border-radius: 4px;
  background: $white;
	transition: border + $linear140;

  &:after {
    content: '';
    display: block;
    clear: both;
  }

	p {
		padding: 12px;
		color: $dark-navy-blue;
		line-height: 20px;
	}
  .tag {

    &:hover {
      cursor: pointer;
    }
  }

	&:hover {
		border-color: $warm-grey;

		.card-header {
			border-color: $warm-grey;
		}
	}

	&.pending {

		.card-header {
			position: relative;

			&:after {
				content: '';
				width: 12px;
				height: 12px;
				position: absolute;
				top: 15px;
				right: 12px;
				border-radius: 50%;
				background: $tangerine;
			}
		}
	}
}

.card-header {
	height: 38px;
	padding: 0 12px;
	font-weight: 500;
	color: $brownish-grey;
	line-height: 42px;
	text-transform: uppercase;
	background: $pale-grey-two;
	border-bottom: 1px solid $white-dark;
  border-radius: 4px 4px 0 0;
	transition: border + $linear140;

	.comments {
		float: right;
		font-weight: 500;
		color: $cool-grey;

		.icon {
			margin-right: 1px;
			font-size: 11px;
			color: $duck-egg-blue-two;
			vertical-align: -1px;
		}
		.number {
			font-style: normal;
		}
	}
}
.card-tags {
	overflow: hidden;
	padding: 0 12px 8px;
}
.tag {
	display: block;
	float: left;
	margin: 0 5px 5px 0;
	padding: 6px 11px;
	font-weight: 500;
	font-size: 13px;
	color: $cool-grey;
	background: $pale-grey-two;
	border: 1px solid $white-dark;
	border-radius: 60px;
  cursor: default;


  &.max {
    padding: 11px 15px;
    font-weight: 700;
    font-size: 14px;
    color: $dark-navy-blue;
    background: $duck-egg-blue;
    border: none;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    .icon {
      margin-left: 6px;
      color: $cool-grey;
    }
  }

  .icon {
    margin-left: 3px;
    font-size: 8px;
    vertical-align: 0;
    transition: opacity + $linear140;

    &:hover {
      cursor: pointer;
      opacity: .8;
    }
  }
}
.pending-auth {
	display: block;
	height: 42px;
	text-align: center;
	color: $white;
	line-height: 42px;
	background: $tangerine;
}

.card-info {
  margin: 0 25px 32px;
  overflow: hidden;

  textarea {
    width: 80%;
    height: 80px;
  }
  .classic-input {

    &:first-of-type {

      textarea {

        height: 50px;
      }
    }
  }
}
.card-txt {
  width: 90%;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 22px;
  color: $dark-navy-blue;
  // background: #f00;
}
.card-subtxt {
  width: 50%;
  font-size: 16px;
  line-height: 22px;
  color: $cool-grey;
}


.tracing-card {
  position: relative;
  z-index: 12;
}

.trace-canvas {
  position: absolute;
  // background: #ddd;
  z-index: 13;
  transition: all + $linear140;
}

// Dropdown menus
// =================================
.dropdown {
	width: 300px;
	background: $white;
	border: 1px solid $white-dark;
	border-radius: 0 0 4px 4px;
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 9;
	overflow: hidden;
	box-shadow: 0 2px 14px rgba(0, 0, 0, 0.2);

  &.full {
    width: 100%;
    box-shadow: none;
    box-sizing: border-box;
    border-radius: 4px;

    .search-form {

      input {
        width: 90%;
      }
    }
    .clear-ul {
      height: 117px;
      overflow-y: scroll;

      a {
        text-align: left;
        padding-left: 20px;

        &:hover {
          padding-left: 35px;
        }
      }
    }

  }
  &.active-2 {
    transform: scale(1);
    visibility: visible;
    opacity: 1;
  }
	.line {
		width: 100%;
		height: 1px;
		background: $white-dark;
	}
	.user-info {
		padding: 15px 0 15px 18px;
		font-size: 14px;
		color: #5d5d5d;

		h2 {
			font-weight: 700 !important;
			font-size: 14px;
		}
		span {
			font-size: 14px;
			color: #b2b2b7;
		}
	}

	ul {

		a {
			display: block;
			padding: 13px 0 13px 18px;
			font-size: 16px;
			color: $brownish-grey;
			text-decoration: none;
			transition: all + $easeOut210;

			&:hover {
				padding-left: 31px;
				color: $water-blue;
				background: $pale-grey-two;
			}
		}
	&.classic {
		a {
			text-transform: uppercase;

			&:hover {
				padding-left: 18px;
				color: inherit;
			}
		}
	}
	}
}

// Dropdown 2
.dropdown-2 {
	width: 324px;
	position: absolute;
	left: -138px;
	top: 55px;
	margin: 0 auto;
	font-size: 14px;
	color: $dark-navy-blue;
	text-align: left;
	background: $white;
	border: 1px solid $white-dark;
	border-radius: 4px;
	box-shadow: 0 2px 14px rgba(0, 0, 0, 0.2);

	&:after {
		content: '';
		width: 10px;
		height: 10px;
		background: $white;
		position: absolute;
		top: -5px;
		left: 0;
		right: 0;
		margin: 0 auto;
		transform: rotate(45deg);
		box-shadow: -2px -2px 5px rgba(0, 0, 0, 0.2);
	}
	p, span {
		line-height: 16px;
	}
	.gray-zone {
		padding: 12px 0;
		background: $white-three;
		text-align: center;

		p {
			margin: 0;
		}
		.name {
			width: 80%;
			margin: 0 auto;
			font-size: 14px;
			color: $dark-navy-blue;
		}
		.time {
			font-size: 12px;
			color: $cool-grey;
			letter-spacing: 1px;
		}
	}
	// .change {
  //   width: auto;
	// 	position: relative;
	// 	padding: 15px 15px 15px 35px;
  //
	// 	p {
	// 		line-height: 18px;
	// 	}
	// 	.status {
	// 		margin-bottom: 8px;
	// 		font-weight: 700;
	// 		font-size: 10px;
	// 		text-transform: uppercase;
	// 	}
	// 	.circle {
	// 		width: 6px;
	// 		height: 6px;
	// 		position: absolute;
	// 		left: 14px;
	// 		top: 20px;
	// 		border-radius: 50%;
	// 		border: 1px solid $white;
	// 	}
	// 	&.old {
	// 		background: $very-light-pink;
  //
	// 		.status {
	// 			color: $tomato;
	// 		}
	// 		.circle {
	// 			background: $light-salmon;
	// 			border-color: $tomato;
	// 		}
	// 	}
	// 	&.new {
	// 		background: rgba(85, 204, 154, 0.1);
  //
	// 		.status {
	// 			color: $emerald;
	// 		}
	// 		.circle {
	// 			background: $dark-mint;
	// 			border-color: $emerald;
	// 		}
	// 	}
	// }
	.btn-2 {
		height: 44px;
		float: left;
		text-align: center;
		font-weight: 700;
		line-height: 44px;
		transition: opacity + $linear140;

		&.deny {
			width: 40%;
			color: $dark-navy-blue;
			background: $white;
		}
		&.app {
			width: 60%;
			color: $white;
			background: $dark-mint;
		}
		&:hover {
			opacity: .9;
		}
	}
}
.dropdown-2-header {
	position: relative;
	padding: 16px 0;
	text-align: center;
	font-size: 14px;
	color: #aaa;

	.number-of-slides {
		margin-bottom: 5px;
		font-weight: 700;
		font-size: 18px;
		color: $water-blue-two;
	}
	.icon {
		width: 22px;
		height: 30px;
		position: absolute;
		top: 20px;
		font-size: 14px;
		line-height: 38px;
		color: $dark-navy-blue;
		transition: opacity + $linear140;

		&.icon-arrow-left {
			left: 10px;
		}
		&.icon-arrow-right {
			right: 10px;
		}
		&:hover {
			cursor: pointer;
			opacity: .6;
		}
	}
}

// Tiny dropdown
.btn-dropdown {
	position: relative;
}
.tiny-dropdown-wrap {
	position: relative;
}
.tiny-dropdown {
	min-width: 107px;
	position: absolute;
	top: 100%;
	right: -1px;
	background: $white;
	border: 1px solid $white-dark;
	border-radius: 4px;
	box-shadow: 0 2px 14px rgba(0, 0, 0, 0.2);
	z-index: 2;

  &.active {
    z-index: 5;
  }
  &.hide-arrow {
    &:after {
      content: none;
    }
  }
	&:after {
		content: '';
		width: 6px;
		height: 6px;
		border-top: 1px solid $white-dark;
		border-right: 1px solid $white-dark;
		position: absolute;
		top: -5px;
		right: 10px;
		background: $white;
		transform: rotate(-45deg);
		z-index: 1;
	}
	&.t-35 {
		top: 35px;
	}
  &.r-8 {
    right: 8px;
  }
	&.r-25 {
		right: 25px;
	}
	&.r-n3 {
		right: -3px;
	}
  &.tiny-form {
    width: 228px;
    padding: 10px;

    input {
      width: 205px;
      margin-bottom: 10px;
    }
  }
  &.search-bar {
    border-top: none;
  }

	li {
		&:first-child {

			a {
					border-radius: 4px 4px 0 0;
			}
		}
		&:last-child {

			a {
				border-radius: 0 0 4px 4px;
			}
		}

    &.active {
      background: $pale-grey-two;;
    }
	}
	a {
	  display: block;
		height: 34px;
		position: relative;
		text-align: center;
		font-weight: 700;
		font-size: 14px;
		line-height: 36px;
		color: $dark-navy-blue;
		z-index: 2;
		text-transform: uppercase;
		transition: background + $linear140;

		&:hover {
			background: $pale-grey-two;
		}
	}
}

.change {
  width: auto;
  position: relative;
  padding: 15px 15px 15px 35px;

  .line {
    width: 1px;
    height: 0;
    position: absolute;
    top: 20px;
    left: 17px;
    background: $cool-grey;
  }
  p {
    line-height: 18px;
  }
  .status {
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 10px;
    text-transform: uppercase;
  }
  .circle {
    width: 6px;
    height: 6px;
    position: absolute;
    left: 14px;
    top: 20px;
    border-radius: 50%;
    border: 1px solid $white;
  }
  &.old {
    background: $very-light-pink;

    .status {
      color: $tomato;
    }
    .circle {
      background: $light-salmon;
      border-color: $tomato;
    }
  }
  &.new {
    background: rgba(85, 204, 154, 0.1);

    .status {
      color: $emerald;
    }
    .circle {
      background: $dark-mint;
      border-color: $emerald;
    }
  }
}


// Options list
// =================================
.opts-list-wrap {
  position: relative;
  user-select: none;

  .btn-icon {
    height: 38px;
    font-size: 14px;
    color: $cool-grey;
    margin-bottom: -1px;
    line-height: 42px;

    &.medium {
      width: 150px;
    }
    &.full {
      display: block;
      width: 100%;
      float: none;
      box-sizing: border-box;
    }
    .icon {
      position: absolute;
      top: 1px;
      right: 9px;
      color: $cool-grey !important
    }
  }

  .tiny-dropdown {
    width: 100%;

    a {
      padding: 2px 0;
      font-weight: 300;
      text-transform: none;
      border-bottom: 1px solid #eee;
    }
  }
}

// Owl Carousel
// =================================
.owl-nav {
	width: 100%;
	height: 50px;
	position: absolute;
	top: -50px;

	.owl-prev,
	.owl-next {
		position: relative;

		.icon {
			transition: opacity + $linear140;

			&:hover {
				opacity: .6;
			}
		}
	}

	.owl-prev {
		.icon {
			position: absolute;
			left: 15px;
		}
	}
	.owl-next {
		.icon {
			position: absolute;
			right: 15px;

		}
	}
}

.slide {
  // background: #000;
  // padding-bottom: 20px;
  // overflow: hidden;
}


.search-form {
	height: 40px;
	border: 1px solid $white-dark;
	border-radius: 4px;
	overflow: hidden;

	input {
		width: 110px;
		height: 100%;
		float: left;
		padding-left: 10px;
		padding-right: 5px;
		border-radius: 4px;
    -webkit-appearance: none;
		transition: width + $easeOut210;

		&.active {

			width: 400px;
		}
	}
	button {
		width: 38px;
		height: 40px;
		float: right;
		border: none;
		background: none;

		&:hover {
			cursor: pointer;

			.icon {
				color: #ccc;
			}
		}
	}
	&.dropdown-search {
		margin: 18px;

		input {
      width: 220px;
      border: none;
      font-size: 14px;
		}
	}
	.icon {
		margin-right: 5px;
		font-size: 14px;
		line-height: 44px;
		color: $white-dark;
		transition: color + $linear140;
	}
}

.page-subheader {
	margin-bottom: 30px;
	padding: 8px 27px;
	background: $white;
	position: relative;
	z-index: 3;

	.icon-cube,
	.btn,
	.search-form,
  .opts-list-wrap {
		margin: 0 4px;
	}

  .opts-list-wrap {

    .btn-icon {
      height: 40px;
      line-height: 44px;
      color: $brownish-grey;
    }
  }
}

.txt {
	font-weight: 500 !important;
	font-size: 14px;
	color: $brownish-grey;
}

.icon-cube {
	width: 40px;
	height: 40px;
	font-size: 16px;
	font-style: normal;
	color: $brownish-grey;
	line-height: 46px;
	text-align: center;
	border: 1px solid $white-dark;
	border-radius: 3px;
	transition: background + $linear140;

	&:hover {
		background: $pale-grey;
	}
	&.notf {
		position: relative;
		border-color: $tomato;
    color: $dark-navy-blue;

		&:after {
			content: '';
			width: 10px;
			height: 10px;
			position: absolute;
			top: 6px;
			right: 9px;
			background: $tomato;
			border-radius: 50%;
		}

	}
}

.icon-circle {
	width: 28px;
	height: 28px;
	text-align: center;
	font-size: 13px;
	line-height: 32px;
	color: $cool-grey !important;
	background: $white;
	border: 1px solid $white-dark;
	border-radius: 50%;
	transition: background + $linear140;


	&:hover {
		background: $pale-grey;
	}

	&.icon-export {
		font-size: 12px;
	}
	&.icon-plus {
		font-size: 10px;
	}
}




.main-column {
	margin-bottom: 60px;
}
.main-column-header {
	height: 40px;
	margin-bottom: 6px;

	p {
		float: left;
		font-weight: 700;
		font-size: 12px;
		color: $brownish-grey;
		line-height: 40px;
		letter-spacing: 1px;
		text-transform: uppercase;;
	}

	.icon {
		margin: 5px 3px 0 0;

		&:nth-child(2) {
			margin-right: -1px;
		}
	}
}
.main-column-inner {
	background: $white;
	border: 1px solid $white-dark;
	padding: 11px 0;
	border-radius: 3px;

	.card {
		margin: 0 auto 11px;

		&:last-child {
			margin-bottom: 0;
		}

    &.tracing-red {
      position: relative;
      border: 2px solid $light-salmon;
      transition: none;

      .card-header {
        border-bottom: 2px solid $light-salmon;
        transition: none;
      }
      .pending-auth {
        border-top: 2px solid $light-salmon;
      }
      &:after {
        content: "\75";
        width: 22px;
        height: 23px;
        padding-left: 1px;
        position: absolute;
        bottom: -8px;
        right: -8px;
        font-family: "enzyme";
        font-size: 16px;
        line-height: 23px;
        color: $tomato;
        text-align: center;
        background: $white;
        border: 2px solid $tomato;
        border-radius: 50%;
      }
    }
    &.tracing-green {
      border: 2px solid $dark-mint;
      transition: none;

      .card-header {
        border-bottom: 2px solid $dark-mint;
        transition: none;
      }
      .pending-auth {
        border-top: 2px solid $dark-mint;
      }
    }
	}
}

.default-column {
	background: $white;
	border: 1px solid $white-dark;
	border-radius: 3px;


	&.b-space {
		padding-bottom: 120px;
		overflow: hidden;
	}

  .doc-tags {
    height: 28px;
    margin-left: 10px;
  }

}
.default-column-header {
	margin-bottom: 16px;
	padding: 8px 15px;
	font-weight: 700;
	font-size: 18px;
	color: $brownish-grey;
	background: $white-four;
	border-bottom: 1px solid $white-dark;
	border-radius: 3px 3px 0 0;

  .btn {
    margin-top: -1px;
  }
}
.default-column-inner {
	padding: 15px;

  .doc-tags {
    // background: #f00;
    margin-top: -1px;
  }
}


// Accordion menu
// =================================
.accordion-menu {
	padding-bottom: 20px;
  overflow: hidden;

	> li {
    overflow: hidden;

		&:hover {
      background: #f5f5f5;

      .icon-arrow-down {
        display: none;
      }
      .link-icon {
        display: block;
      }
		}
		&.active {

      .icon-file {
        color: $water-blue-two;
      }
			.icon-arrow-down {
				transform: rotate(180deg);
			}
		}
	}
	.link {
		display: block;
    width: 177px;
		height: 34px;
    float: left;
		position: relative;
		font-size: 16px;
		color: $dark-navy-blue;
		padding-left: 43px;
    // background: #f00;

		b {
			line-height: 36px;
		}
		.icon {
			position: absolute;
		}
		.icon-file {
			top: 10px;
			left: 15px;
			font-size: 14px;
			color: $white-dark;
			transition: color + $linear140;
		}
		.icon-arrow-down {
			height: 8px;
			top: 14px;
			right: -15px;
			font-size: 10px;
			color: $cool-grey;
			transition: all + $linear140;
		}
	}

  .link-icon {
    display: none;
    width: 20px;
    height: 34px;
    float: left;
    padding-right: 8px;
    text-align: center;
    line-height: 40px;
    font-size: 15px;
    color: $tomato;

    &:hover {
      opacity: .6;
    }
  }

	ul {
    width: 100%;
		display: none;
		background: $white-four;
    float: left;


    li {

      &.active-link {

        a {
          color: $water-blue-two;
        }
      }
    }

		a {
      display: block;
			padding-left: 44px;
			font-size: 14px;
      color: $dark-navy-blue;
			line-height: 34px;
			transition: color + $linear140;

			&:hover {
        color: $water-blue-two;
      }


		}
	}

}


// Animated checkbox
// =================================
.chbox-body {
	width: 52px;
	height: 30px;
	margin: 6px 0 0 ;
	background: #999;
	position: relative;
	overflow: hidden;
	border-radius: 100px;

  input {
  	position: absolute;
  	width: 100%;
  	height: 100%;
  	top: -3px;
  	bottom: 0;
  	left: 0;
  	right: 0;
  	opacity: 0;
  	z-index: 3;

  	&:hover {
  		cursor: pointer;
  	}
  	&:checked ~ label {
  		background: $dark-mint;

  		&:after {
  			left: 24px;
  		}
  	}
  }
  label {
  	position: absolute;
  	width: 100%;
  	height: 100%;
  	background: $white-dark;
  	z-index: 2;
  	border-radius: 100px;
  	transition: background + $linear160;

  	&:after {
  		content: '';
  		width: 26px;
  		height: 26px;
  		background: white;
  		position: absolute;
  		top: 2px;
  		left: 2px;
  		border-radius: 50%;
  		transition: left + $linear160;
  	}
  }

}

.chbox-txt {
	display: block;
	margin: 12px 0 0 14px;
	float: left;
	user-select: none;
}

// 2
.chbox-body-2 {
  position: relative;
  overflow: hidden;
  margin-bottom: -10px;

  input {
    width: 14px;
    height: 14px;
    position: absolute;
    left: 0;
    opacity: 0;
    z-index: 2;

    &:hover {
      cursor: pointer;
    }
    &:checked {
      ~ .input-front {
        background: $water-blue url('../imgs/icon-check.png') no-repeat;
        border-color: $water-blue;
        background-position: 0 1px;
      }

      ~ .sibling-field {
        height: 120px;
        transform: scale(1);
      }
    }
  }
  .input-front {
    width: 14px;
    height: 14px;
    position: relative;
    margin-right: 8px;
    background: #fff;
    float: left;
    border-radius: 3px;
    border: 1px solid #d3d3d3;
    transition: background + $linear140;
  }
  > label {
    float: left;
    user-select: none;

    &:hover {
      cursor: pointer;
    }
  }
}

.sibling-field {
  width: 100%;
  margin-top: 30px;
  overflow: hidden;
  height: 0;
  transform: scale(.92);
  transition: height 220ms ease-out, transform 260ms ease-out;
}


// Tabs
// =================================
.tabs-nav {
	position: relative;
	margin-bottom: 20px;
	padding-left: 30px;
	border-bottom: 1px solid $white-dark;
	z-index: 1;

	> a {
    margin: 0 2px -1px;
		padding: 0 25px;
		padding-bottom: -11px;
		display: block;
		height: 42px;
		float: left;
		font-weight: 700;
		font-size: 14px;
		color: $dark-navy-blue;
		line-height: 44px;
		border: 1px solid $white;
		border-bottom-color: $white-dark;
		position: relative;
		border-radius: 4px 4px 0 0;
    user-select: none;
		transition: all + $linear140;

		&:hover {
			border-color: $white-dark;
		}
		&.active {
			border-color: $white-dark;
			border-bottom-color: $white;
		}
	}

  &.tabs-nav-2 {
    margin-bottom: 0;
    border-bottom-color: $duck-egg-blue;

    a {
      padding: 0 30px;
      text-transform: uppercase;
      border-bottom-color: $duck-egg-blue;

      &:hover {
        border-color: $duck-egg-blue;
        border-bottom-color: $pale-grey;
      }
      &.active {
        background: $pale-grey;
        border-color: $duck-egg-blue;
  			border-bottom-color: $pale-grey;
      }
      &:first-child {
        margin-left: 22px;
      }
    }
  }

	.btn-icon {
		margin-right: 20px;
	}
}
.tabs-content {
	margin: 0 20px;
	position: relative;
	border-radius: 4px;
	border: 1px solid $white-dark;
	perspective: 1500px;
	transition: all 220ms ease-out 20ms;

	.tab {
		width: 100%;
		position: absolute;
		top: 0;

		&.active {
      z-index: 2;
		}

    .row {
      margin-bottom: 20px;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
    .btn-option {
      padding-left: 15px;
      font-weight: 300;
    }
    .opts-list {
      top: 37px;
    }
	}
  &.tabs-content-2 {
    margin: 0;
    padding-bottom: 85px;
    background: $pale-grey;
    border: none;

    > .tab {
      width: 96%;
      top: 25px;
      left: 0;
      right: 0;
      margin: 0 auto;
    }

    .default-column {
      margin-bottom: -1px;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
    .default-column-inner {
      padding-bottom: 15px;
    }
  }
}
.tabs-body-child {

  .btn-icon {
    margin: -3px 20px 0 0;
    position: relative;
    font-weight: 300;
    z-index: 4;
  }
}

.exp-history {
  visibility: hidden;
  opacity: 0;
  transition: all + $linear160;

  &.active {
    visibility: visible;
    opacity: 1;
  }
}

// Document
// =================================
.doc-info-wrap {
	padding: 20px;
	overflow: hidden;
}
.doc-info-icon {
	width: 118px;
	height: 137px;
	position: relative;
	float: left;
	margin-left: 20px;
	overflow: hidden;
	text-align: right;

	i {
		display: block;
		position: relative;
		margin: 10px 12px 0 0;
		font-weight: 700;
		font-style: normal;
		font-size: 20px;
		color: $brownish-grey;
		text-transform: uppercase;
		z-index: 3;
	}

	&:before,
	&:after {
		content: '';
		width: 114px;
		height: 133px;
		position: absolute;
		border-radius: 4px;
		z-index: 2;
	}
	&:before {
		background: $white-two;
		left: 0;
		top: 0;
		z-index: 2;
	}
	&:after {
		top: 3px;
		left: 3px;
		background: $white-dark;
		z-index: 1;
	}

  &.mini {
    width: 46px;
    height: 53px;
    margin: 10px 12px 8px 0;
    float: left;

    i {
      margin: 5px 6px 0 0;
      font-size: 13px;
    }
  }
}

.doc-info {
	width: 710px;
	float: left;
	margin-left: 60px;

	.btn-icon {
		margin: 17px 7px 0 0;

		&:first-of-type {
			margin-right: 0;
		}
	}
}
.doc-info-list {
	width: 100%;

	li {
		width: 100%;
		font-size: 16px;
		line-height: 40px;
		height: 40px;
		border-bottom: 1px solid $pale-grey-two;
		i {
			width: 210px;
			font-style: normal;
			color: $water-blue-two;
			float: left;
		}
		p {
			float: left;
			color: $dark-navy-blue;

			i {
				display: inline;
				float: none;
				color: $white-dark;
			}
		}
		.tag {
			margin: 6px 10px 0 0;
			line-height: normal;
		}
	}
}

.new-doc-form {
  position: absolute;
  position: absolute !important;
  top: 0;
  // display: none;
  // background: #000;
  // padding-bottom: 22px;
}


// Notification text
// =================================
.notf-txt {
	display: block;
  height: 29px;
	float: left;
	margin: 5px 0 0 14px;
	padding: 0 7px;
	font-weight: 700;
	font-size: 14px;
	line-height: 30px;
	border-radius: 4px;

	&.orange {
		color: $tangerine;
		border: 1px solid $tangerine;
	}
  &.large {
    height: 36px;
    position: relative;
    padding: 0 15px;
    line-height: 36px;

    &:after {
      content: '';
      width: 6px;
      height: 6px;
      background: $white;
      border-top: 1px solid $tangerine;
      border-left: 1px solid $tangerine;
      position: absolute;
      left: -5px;
      top: 14px;
      transform: rotate(-45deg);
    }
  }
}

.notf {
  padding: 7px 0;
  font-size: 14px;
  color: $white;

  &.red {
    background: $tomato;
  }
  &.orange {
    background: $tangerine;
  }
  &.green {
    background: $emerald;
  }
  &.icon-notification {
    padding: 0;
  }
}


// Table
// =================================
.table {
	width: 100% !important;
	border-collapse: collapse;

	tr {

		&:first-child {
			border-bottom: 1px solid $white-dark;
		}
	}
	th {
		padding: 14px 0;
		font-size: 14px;
		color: $water-blue-two;
		text-align: left;

		&:first-child {
			padding-left: 14px;
		}
	}
	td {
		padding: 15px 0;
		border: 0;
		font-size: 16px;
		color: $dark-navy-blue;

		> a {
			float: left;
			color: $water-blue-two;
		}
	}
	.icon-svg-round {
		margin-left: 10px;
	}
}

// Table 2
.table-body {
  .header {
    margin-right: 16px;
    overflow: hidden;
    border-bottom: 1px solid $white-two;

    p {
      width: 33.3333%;
      height: 35px;
      float: left;

      &:first-of-type {
        width: 40%;
        padding-left: 20px;
        box-sizing: border-box;
      }
      &:nth-child(2){
        width: 30%;
      }
      &:nth-child(3){
        width: 30%;
      }
    }

  }
  .table-inner {
    width: 100%;
    height: 215px;
    overflow-y: scroll;
  }
}
.table-2 {
  width: 100% !important;
	border-collapse: collapse;
  font-size: 12px;

  p {
    line-height: 68px;
  }
  td {

    &:first-child {
      width: 40%;
      padding-left: 20px;
    }
    &:nth-child(2){
      width: 30%;
    }
    &:nth-child(3){
      width: 30%;
    }
  }
  tr {
    height: 60px;
    border-bottom: 1px solid $white-two;

    &:last-child {
      border-bottom: none;
    }
  }
}

// Tabgle 3
.table-3-header {
  height: 38px;
  margin-bottom: 7px;

  p {
    float: left;
    padding: 0 16px;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    box-sizing: border-box;

    span {
      float: left;
      margin: 10px 10px 0 0;
      font-weight: 700;
      color: $brownish-grey;

      i {
        font-style: normal;
        color: #ccc;
      }
    }

    &:nth-child(1),
    &:nth-child(3){
      width: 20%;
    }
    &:nth-child(2){
      width: 24%;
    }
    &:nth-child(4),
    &:nth-child(5){
      width: 10%;
    }
    &:nth-child(6){
      width: 14%;
    }
  }

  .icon {
    letter-spacing: -0.5px;
  }

}
.table-3-body {
  width: 100%;
  margin-bottom: 10px;
  position: relative;
  height: 62px;
  overflow: hidden;
  transition: height + $easeOut210;
}

.table-3-row {
  background: $white;
  border: 1px solid $duck-egg-blue;
  border-radius: 3px;

  .cell {
    min-height: 60px;

    position: relative;
    // background: #ccc;
    float: left;
    padding: 0 16px;
    box-sizing: border-box;
    vertical-align: middle;

    p {
      display: flex;
      min-height: 60px;

      align-items: center;
      font-size: 14px;
      color: $brownish-grey;
    }
    > a {
      display: flex;
      min-height: 60px;
      align-items: center;
    }

    .bold {
      font-weight: 700;
      color: $dark-navy-blue;
      text-transform: uppercase;
    }
    .bold-txt {
      &:hover {
        cursor: pointer;
      }
    }

    &:nth-child(1),
    &:nth-child(3){
      width: 20%;
    }
    &:nth-child(2){
      width: 24%;
    }
    &:nth-child(4),
    &:nth-child(5),
    &:nth-child(6){
      width: 10%;
    }

    .tiny-dropdown {
      width: 146px;
      top: 56px;
      right: 30px;

      .bold {
        width: 46%;
        padding: 2%;
        float: left;
      }
    }

    .td-custom {
      min-width: 66px;
      width: 66px;
      height: 33px;
      top: 50%;
      visibility: hidden;
      opacity: 0;
      transform: translateY(-50%);
      transition: all + $linear140;

      a {
        width: 33px;
        height: 33px;
        float: left;

        &:nth-child(2){

          &:hover {
            background: $very-light-pink;

            .icon {
              color: $tomato;
            }
          }
        }
      }
      .icon {
        font-size: 12px;
        line-height: 32px;
        transition: color + $linear160;
      }
      &:after {
        top: 13px;
        right: auto;
        left: -4px;
        box-shadow: none;
        transform: rotate(-135deg);

      }
    }
    &:hover {
      .td-custom {
        visibility: visible;
        opacity: 1;
      }
    }
  }
}

.expand-row {
  display: none;
  width: 6%;
  height: 100%;
  position: absolute;
  text-align: center;
  background: $pale-grey;
  border: 1px solid $duck-egg-blue;
  right: 0;
  top: 0;
  box-sizing: border-box;
  user-select: none;

  &:hover {
    cursor: pointer;

    .icon-1 {
      .icon {
        margin: 0 2px;
      }
    }
    .icon-2 {
      .icon {
        margin: 0 -2px;
      }
    }

  }
  .icon-1,
  .icon-2 {
    line-height: 30px;
    position: absolute;
    top: 48%;
    left: 0;
    right: 0;
    margin: 0 auto;
    transform: translateY(-48%) rotate(-45deg);
  }
  .icon {
    display: inline;
    font-size: 12px;
    color: $water-blue-two;
    transition: margin + $linear140;
  }
}

.txt-circle {
  position: relative;
  font-weight: 700;
  font-size: 14px;

  &:before {
    content: '';
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 6px;
  }
  &.red {
    color: $tomato !important;

    &:before {
      background: $tomato;
    }
  }
  &.orange {
    color: $tangerine !important;

    &:before {
      background: $tangerine;
    }
  }
  &.green {
    color: $dark-mint !important;

    &:before {
      background: $dark-mint;
    }
  }
}

// Comments
// =================================
.comment-body {
  border-radius: 4px;
  overflow: hidden;
  background: $white-four;
  border: 1px solid $duck-egg-blue;

  .change {
    p {
      font-size: 14px;

      &.status {
        font-size: 10px;
        margin-bottom: 0;
      }
    }
  }
}

.comment-header {
  padding: 8px 15px;
  font-size: 12px;
  background: $pale-grey;

  .author {
    font-weight: 700;
    font-size: 14px;
    color: $dark-navy-blue;
  }
  .date,
  .time {
    color: $brownish-grey;
  }
}
.comment-inner {
  padding: 15px;

  p {
    font-weight: 500;
    font-size: 14px;
    color: $dark-navy-blue-82;
  }
}
.comment-footer {
  padding: 8px 15px;
  font-size: 12px;
  color: $white;
  background: $emerald;

  .author {
    font-size: 14px;
  }
}
.leave-comment {
  margin-bottom: 50px;
}

// Progress body
// =================================
.progress-body {
  width: 50%;
  height: 6px;
  position: relative;
  background: $pale-grey-two;
  border-radius: 3px;
  margin: 0 auto;


  .progress {
    width: 0;
    height: 100%;
    position: absolute;
    background: $emerald;
    border-radius: 3px;
  }
}




// Text box
// =================================
.txt-box {
  margin-bottom: 12px;
  padding: 12px;
  font-size: 14px;
  color: $dark-navy-blue;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  h3 {
    font-weight: 700;
    margin-bottom: 4px;
  }
  p {

  }
}

// Upload File
// =================================
.upload-file {
  height: 180px;
  padding-top: 90px;
  text-align: center;
  overflow: hidden;

  .icon {
    display: block;
    // margin-top: 70px;
    margin-bottom: 10px;
    text-align: center;
    color: $white-dark;
    font-size: 28px;
  }
  .txt-file {
    margin: 0 0 15px;
  }

  .part-1 {
    position: relative;

    .notf {
      width: 100%;
      position: absolute;
      top: -90px;
    }
  }
  .part-2 {

    p {
      // mt
      margin-bottom: 30px;
    }
  }
}






// =================================
.right-0 { left: auto; right: 0; }
.txt-upp { text-transform: uppercase; }
.d-block { display: block; }
.d-none { display: none; }
.d-i-block { display: inline-block; }
.p-static { position: static; }
.p-relative { position: relative; }
.p-absolute { position: absolute; }
.p-fixed { position: fixed; }
.of-hidden { overflow: hidden; }
.of-visible { overflow: visible; }
.clear-b { clear: both; }
.r-border { border: none; }
.f-none { float: none; }
.f-left { float: left; }
.f-right { float: right; }
.r-margin { margin: 0; }
.r-margin-t { margin-top: 0; }
.r-margin-b { margin-bottom: 0; }
.r-margin-r { margin-right: 0; }
.r-margin-l { margin-left: 0; }
.r-padding { padding: 0; }
.r-padding-t { padding-top: 0; }
.r-padding-b { padding-bottom: 0; }
.r-padding-r { padding-right: 0; }
.r-padding-l { padding-left: 0; }
.v-hidden { visibility: hidden; }
.v-visible { visibility: visible; }
